global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'dl_model'
    scrape_interval: 2s
    static_configs:
      - targets: ['consumer:8000']